

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-2">
            <h5>Páginas</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="/playas" class="nav-link p-0 text-muted">Playas</a></li>
              <li class="nav-item mb-2"><a href="/login" class="nav-link p-0 text-muted">Login</a></li>
              <li class="nav-item mb-2"><a href="/municipios" class="nav-link p-0 text-muted">Municipios</a></li>
            </ul>
          </div>





          <div class="col-4 offset-1">
            <form>
              <h5>Vuelve pronto</h5>
              <p>Tu sitio web sobre playas en Asturias.</p>
              <div class="d-flex w-100 gap-2">
                <label for="newsletter1" class="visually-hidden">rafael-garcia-irazusta@capgemini.es</label>

              </div>
            </form>
          </div>
        </div>

        <div class="d-flex justify-content-between py-4 my-4 border-top">
          <p>© 2022 Rafael García Irazusta. All rights reserved.</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-dark" href="https://github.com/Rafa1891"><img src="assets/github.png" width="20px;" height="20px;"></a></li>

          </ul>
        </div>
        </div>
      </footer>


